# System files
# ------------

Icon
.DS_Store

# Kirby Files & Folders
# ------------
/kirby/*
/media/*
/site/config
/site/accounts
/site/cache
composer.json
index.php
.htaccess

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license

# Plugins
# ---------------
/site/plugins/kirby3-dotenv-5.0.0
.env
.env.localhost
