
body {
    color: #000;
    font-family: "Merriweather Sans";
    font-weight: 400

}
.font-headline {
    color: #000;
    font: 600 5.5vw "Prompt";
    line-height: 5.5vw;
}
.font-large {
    color: #000;
    font-family: "Merriweather Sans";
    font-weight: 700;
}
.notice {
    background-color: #ffc46c;
    border: none;
}
.event {
    background-color: #00bef2;
}
