:root {
    --font-color: #000;
    --border-color: #000;
    --primary-bg: #fff;
    --secondary-bg: #777;
}
html, body { 
    height:100%; 
    background-color: var(--secondary-bg);
    display:flex; 
    align-items: center;
    justify-content: center;
}
body {
    background-color: var(--primary-bg);
    width: 100%;
    min-width:800px;
    min-height: 480px;
    padding-bottom: 0.5rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
h1 {
    margin-bottom: 0;
}
.font-headline {
    color: var(--font-color);
    font: 600 5.5vw "Prompt";
    font-smooth: never;
}
.font-large {
    color: var(--font-color);
    font: 700 2vw "Merriweather Sans";
    font-smooth: never;
}
.font-medium {
    color: var(--font-color);
    font-family: "Merriweather Sans";
    font-weight: 400
}
.font-small {
    color: var(--font-color);
    font: 400 2vw "Merriweather Sans";
    font-smooth: never;
}
.headline {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    padding: 0.5rem;
}
.flex-horz-wrapper {
    display: flex;
    flex-direction: row;
    width:100%;
    height:100%;
    align-items: flex-start;
}
.main {
    max-width:66.6%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content:space-around;
    flex: 2 1;
    max-height:480px;
}
.description p, .aag-button, .schedule > li {
    border-radius: 5px;
}
.notice{
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width:100%;
    border-top: var(--border-color) 3px dashed;
    border-bottom: var(--border-color) 3px dashed;
}
.description {
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}
.description p {
    padding: 0.5rem;
    border: var(--border-color) 3px solid;
}
ul.schedule {
    padding:0;
    margin:5px;
    width:100%;
    list-style: none;
    flex: 1 auto;
    height:360px;
}
.schedule > li {
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: nowrap;
    text-overflow: ellipsis;

}
.schedule > li:nth-child(odd) {
    border: 3px solid var(--border-color);
}
.sidebar {
    flex: 1 1;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0.5rem;
    height:100%;
    container-name: sidebar;
    container-type: inline-size;
}
.sidebar p {
    margin: 0;
}
.aag-button {
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border: #000 3px solid;
}
.aag-qr {
    display:block;
    width: 100%;
    text-align: center;
}
.aag-qr p {
    margin: 0;
}
.aag-qr img {
    min-width: 130px;
    max-width: 250px;
    width:50%;
}
.timeline-wrapper{
    display:flex;
    flex-direction: column;
    height:100%;
}
.timeline {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;
    height:100%;
}
.time-labels,
.events-column {
    display: grid;
    grid-template-rows: repeat(10, 1fr); /* 1-10 odds is every half hour */
}
.time-labels {
    border-right: 3px solid var(--border-color);
    padding-left: 0.5rem;
}
.time {
    grid-row: var(--row);
    align-self: center; /* centers text on the row */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.5rem;
}
.event {
    padding: 0.5rem;
    grid-row: var(--start) / var(--end);
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.event, .event-footer {
    border-image: url('/media/plugins/salinapl/aag-rooms/img/border-smooth01.svg');
    border-image-width: 8px;
    border-image-slice: 8;
    box-sizing: border-box;
}
.underflow {
    padding-top: 8px;
    border-image: url('/media/plugins/salinapl/aag-rooms/img/border-smooth02.svg');
    border-image-width: 8px;
    border-image-slice: 8;
    border-image-repeat: repeat;
    box-sizing: border-box;
}
.overflow {
    border-image: url('/media/plugins/salinapl/aag-rooms/img/border-smooth03.svg');
    border-image-width: 8px;
    border-image-slice: 8;
    border-image-repeat: repeat;
    box-sizing: border-box;
}
.underflow.overflow {
    padding-top: 8px;
    border-image: url('/media/plugins/salinapl/aag-rooms/img/border-smooth04.svg');
    border-image-width: 8px;
    border-image-slice: 8;
    border-image-repeat: repeat;
    box-sizing: border-box;
}
.event-footer {
    bottom: 0px;
    min-height: 0;
    margin: 0.5rem;
    padding: 0.5rem;
}
@container sidebar (width < 500px) {
    .aag-qr img {
        width:130px;
    }
}
@container sidebar (width > 500px) {
    .description p {
            padding: 2rem; 
    }
    .sidebar {
        padding: 0 2rem;
    }
}
@media only screen and (min-width: 1281px) {
    body {
        padding-bottom: 2rem;
    }
    .headline {
        padding: 2rem;
    }
    .notice {
        padding: 0 2rem;
    }
    .main {
        max-height: 100%;
    }
    .time-labels {
        padding-left: 2rem;
    }
    .event-footer {
        padding: 1rem;
        margin-left: 2rem;
    }
}
