:root {
    --font-small: 2.5vw;
    --font-medium: 3vw;
    --font-large: 3.5vw;
    --font-headline: 5.5vw;
}
html, body { 
    height:100%; 
    background-color: #777; 
    display:flex; 
    align-items: center;
    justify-content: center;
}
body {
    padding: 0.5rem;
    color: #000;
    background-color: #fff;
    font: normal var(--font-small) "NicoClean";
    font-smooth: never;
    width:100%;
    max-width:800px;
    max-height: 480px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    overflow:hidden;
}
h1 {
    margin-bottom: 0;
    width:100%;
}
.font-headline {
    color: #000;
    font: bold var(--font-headline) "NicoClean";
    font-smooth: never;
}
.font-large {
    color: #000;
    font: normal var(--font-large) "BlockKie";
    font-smooth: never;
}
.font-medium {
    color: #000;
    font: bold var(--font-medium) "NicoClean";
    font-smooth: never;
}
.font-small {
    color: #000;
    font: normal var(--font-small) "NicoPups";
    font-smooth: never;
}
.main{
    max-width:66.6%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content:space-around;
    flex: 2 1;
    max-height:480px;
}
.description p, .aag-button, .schedule > li {
    border-radius: 5px;
}
.notice{
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width:100%;
    border: #000 3px dashed;
}
.description {
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}
.description p {
    padding: 1.5rem;
    border: #000 3px solid;
}
ul.schedule {
    padding:0;
    margin:5px;
    width:100%;
    list-style: none;
    flex: 1 auto;
    height:360px;
}
.schedule > li {
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: nowrap;
    text-overflow: ellipsis;

}
.schedule > li:nth-child(odd) {
    border: 3px solid #000;
}

.sidebar {
    flex: 1 1;
    text-align: center;
    display:flex;
    flex-direction: column;
    max-height:480px;
}
.sidebar > p {
    padding: 25px 5px 0 5px;
    flex:1 1;
}
.sidebar > img {
    width: 100%;
    max-width:160px;
    flex:1 1;
    align-self: flex-end;
}
.sidebar p img {
    width: 75%;
    max-width:100%
}
.aag-button {
    display: block;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: #000 3px solid;
}
.timeline-wrapper{
    display:flex;
    flex-direction: column;
    height:100%;
}
.timeline {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 0.5rem;
    height:100%;
}
.time-labels,
.events-column {
    display: grid;
    grid-template-rows: repeat(11, 1fr); /* 1-10 odds is every half hour */
}
.time-labels {
    border-right: 3px solid #000;
}
.time {
    grid-row: var(--row);
    align-self: center; /* centers text on the row */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.5rem;
}

.event {
    padding: 6px;
    min-height: 40px;
    grid-row: var(--start) / var(--end);
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.event, .event-footer {
    width: 100%;
    border-image: url('/media/plugins/salinapl/aag-rooms/img/border01.svg');
    border-image-width: 8px;
    border-image-slice: 8;
    box-sizing: border-box;
}
.underflow {
    padding-top: 8px;
    border-image: url('/media/plugins/salinapl/aag-rooms/img/border02.svg');
    border-image-width: 8px;
    border-image-slice: 8;
    border-image-repeat: repeat;
    box-sizing: border-box;
}
.overflow {
    border-image: url('/media/plugins/salinapl/aag-rooms/img/border03.svg');
    border-image-width: 8px;
    border-image-slice: 8;
    border-image-repeat: repeat;
    box-sizing: border-box;
}
.underflow.overflow {
    padding-top: 8px;
    border-image: url('/media/plugins/salinapl/aag-rooms/img/border04.svg');
    border-image-width: 8px;
    border-image-slice: 8;
    border-image-repeat: repeat;
    box-sizing: border-box;
}
.event-footer {
    bottom: 0px;
    min-height: 0;
    margin: 0.5rem;
    padding: 0.5rem;
}
@media only screen and (min-width: 801px) {
    body {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        padding: 2rem;
    }
    .main {
        max-height: 100%;
        padding-right: 2rem;
    }
    .event-footer {
        padding: 1rem;
    }
}
