@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/ttf/MerriweatherSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/ttf/MerriweatherSans-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/ttf/MerriweatherSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/ttf/MerriweatherSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/ttf/MerriweatherSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/ttf/MerriweatherSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(fonts/ttf/MerriweatherSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(fonts/ttf/MerriweatherSans-BoldItalic.ttf) format('truetype');
}
